@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.newsletter input::placeholder {
  width: 132px;
  height: 20px;
  top: 624px;
  left: 415px;
  opacity: 30%;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color:rgba(32, 32, 32, 1);
  ;
}


